@page "/homerequests"
@using Sheenam.Blazor.Models.Foundations.HomeRequests

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <HomeRequestFormComponent @ref="homeRequestFormComponent" OnHomeRequestAdded="ReloadTable" />
        </div>
        <div class="col-md-8">
            <HomeRequestComponent @ref="homeRequestComponent" OnEditSelected="LoadHomeRequestToEdit" />
        </div>
    </div>
</div>

@code {
    private HomeRequestComponent homeRequestComponent;
    private HomeRequestFormComponent homeRequestFormComponent;

    private async Task ReloadTable()
    {
        if (homeRequestComponent != null)
        {
            await homeRequestComponent.RefreshAsync();
        }
    }

    private void LoadHomeRequestToEdit(HomeRequest selectedHomeRequest)
    {
        if (homeRequestFormComponent != null)
        {
            homeRequestFormComponent.EditHomeRequest(selectedHomeRequest);
        }
    }
}