@page "/"
@inject NavigationManager NavigationManager

<h1>Sheenam Loyihasiga Xush Kelibsiz!</h1>

<button class="btn btn-primary" @onclick="GoToDashboard">
    Dashboardni ko'rish
</button>

@code {
    private void GoToDashboard()
    {
        // Bu yerga bazangizdagi biror Hostning ID sini qo'ying
        string hostId = "Sizning-Bazada-Bor-Guid-Id";
        NavigationManager.NavigateTo($"/host-dashboard/{hostId}");
    }
}