@page "/payments"
@using Sheenam.Blazor.Models.Foundations.Payments

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <PaymentFormComponent @ref="paymentFormComponent" OnPaymentAdded="ReloadTable" />
        </div>
        <div class="col-md-7">
            <PaymentComponent @ref="paymentComponent" OnEditSelected="LoadPaymentToEdit" />
        </div>
    </div>
</div>

@code {
    private PaymentComponent paymentComponent;
    private PaymentFormComponent paymentFormComponent;

    private async Task ReloadTable()
    {
        if (paymentComponent != null)
        {
            await paymentComponent.RefreshAsync();
        }
    }

    private void LoadPaymentToEdit(Payment selectedPayment)
    {
        if (paymentFormComponent != null)
        {
            paymentFormComponent.EditPayment(selectedPayment);
        }
    }
}