@page "/rentalcontracts"
@using Sheenam.Blazor.Models.Foundations.RentalContracts

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <RentalContractFormComponent @ref="rentalContractFormComponent" OnRentalContractAdded="ReloadTable" />
        </div>
        <div class="col-md-7">
            <RentalContractComponent @ref="rentalContractComponent" OnEditSelected="LoadRentalContractToEdit" />
        </div>
    </div>
</div>

@code {
    private RentalContractComponent rentalContractComponent;
    private RentalContractFormComponent rentalContractFormComponent;

    private async Task ReloadTable()
    {
        if (rentalContractComponent != null)
        {
            await rentalContractComponent.RefreshAsync();
        }
    }

    private void LoadRentalContractToEdit(RentalContract selectedRentalContract)
    {
        if (rentalContractFormComponent != null)
        {
            rentalContractFormComponent.EditRentalContract(selectedRentalContract);
        }
    }
}