@page "/reviews"
@using Sheenam.Blazor.Models.Foundations.Reviews

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <ReviewFormComponent @ref="reviewFormComponent" OnReviewAdded="ReloadTable" />
        </div>
        <div class="col-md-8">
            <ReviewComponent @ref="reviewComponent" OnEditSelected="LoadReviewToEdit" />
        </div>
    </div>
</div>

@code {
    private ReviewComponent reviewComponent;
    private ReviewFormComponent reviewFormComponent;

    private async Task ReloadTable()
    {
        if (reviewComponent != null)
        {
            await reviewComponent.RefreshAsync();
        }
    }

    private void LoadReviewToEdit(Review selectedReview)
    {
        if (reviewFormComponent != null)
        {
            reviewFormComponent.EditReview(selectedReview);
        }
    }
}
