@page "/saletransactions"
@using Sheenam.Blazor.Models.Foundations.SaleTransactions

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <SaleTransactionFormComponent @ref="saleTransactionFormComponent"
                                          OnSaleTransactionAdded="ReloadTable" />
        </div>
        <div class="col-md-7">
            <SaleTransactionComponent @ref="saleTransactionComponent"
                                      OnEditSelected="LoadSaleTransactionToEdit" />
        </div>
    </div>
</div>

@code {
    private SaleTransactionComponent saleTransactionComponent;
    private SaleTransactionFormComponent saleTransactionFormComponent;

    private async Task ReloadTable()
    {
        if (saleTransactionComponent != null)
            await saleTransactionComponent.RefreshAsync();
    }

    private void LoadSaleTransactionToEdit(SaleTransaction selectedSaleTransaction)
    {
        if (saleTransactionFormComponent != null)
            saleTransactionFormComponent.EditSaleTransaction(selectedSaleTransaction);
    }
}